In [1]:
from analysis.stock_52_weeks import *
from plot_chart import *
from analysis.technical_indicator import *
from analysis.top_20_stocks import *
from krx_wr_script import *
from analysis.bot_strategy import *
from datetime import datetime, timedelta, date
from util import *
import pandas as pd
from pykrx import stock
import matplotlib.pyplot as plt
from finta import TA
import yfinance as yf

util_m = util()

In [11]:
util_m.stock_name = '카카오'
stock_csv = pykrx_read_csv(stock_name = util_m.stock_name, 
                           Krx_Char_folder_path = './Krx_Chart_folder')

stock_csv

           date    open    high     low   close   volume
0    2019-01-02   20774   21075   20372   20473   173462
1    2019-01-03   20573   21175   20172   20573   293989
2    2019-01-04   20473   20874   20372   20774   251728
3    2019-01-07   21073   21474   20472   20673   378153
4    2019-01-08   20571   20671   19970   20051   450462
..          ...     ...     ...     ...     ...      ...
602  2021-06-10  130000  135000  129500  133500  5564011
603  2021-06-11  134500  136500  132000  135500  3674400
604  2021-06-14  136000  143000  136000  142500  6240394
605  2021-06-15  143500  144500  140500  144500  4950329
606  2021-06-16  144000  146000  142500  143500  4458867

[607 rows x 6 columns]

In [12]:
recent_high = stock_csv['high'].values.max()
stock_csv[stock_csv['high']==recent_high]

           date    open    high     low   close   volume
606  2021-06-16  144000  146000  142500  143500  4458867